*{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

body {
	font-family: 'arial','sans-sherif';
	background-color: white;
	text-align:center;
	color:white;
}

 #announce_button {
 	padding:20px;
 	background-color: red;
    border-bottom: 4px solid #555555;

 }
 
 #banner {
 	position:relative;
 	margin-top:20px;
 	height:100px;
	padding:20px 40px 20px 40px;
	background-color: #ffff;
	text-align: center;
	display:table-cell;
}

#main_footer{
	margin-top:600px;
	padding-buttom: 20px;
	clear: both;
	font-size:15px;
	text-align: center;
	color:#c0c0c0;
	background-color: #999999;
	border-top: 1px solid  ;
	border-bottom: 1px solid  ;
	border-color: black;
}

#menu{
	margin-top: 30px;
}

a{
	color:#c0c0c0;
}


a:HOVER{
	color:white;
}

.button {
    background-color: #efefef;
    color: black;
    border: 0.5px solid #555555;
    border-bottom: 4px solid #555555;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display:table-cell;
    font-size: 16px;
    margin:4px 2px;
    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.6s;
    cursor: pointer;
}

.button:hover {
    background-color: #555555;
    color: white;
}

.button_active{
	position: relative;
	top: 3px;
}	

#top_search{
	margin-top: 10px; /*margin from banner*/
	padding: 15px 10px 5px 10px;
	display: block;
	height:100px;
	background-color: #cccccc;
	border-top: 1px solid  ;
	border-bottom: 4px solid  ;	
	border-color: #4c4c4c;
}

#recherche{
	padding-top:30px;
	height:35px;
}

#category{
	height:30px;
}


#keywords{
	
	height:25px;
}

#button {
    background-color: red;
    color: white;
    height:30px;
    border-bottom: 2px solid #555555;
    border-right: 1px solid #555555;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display:table-cell;
    font-size: 14px;
    margin:4px 2px;
    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.6s;
    cursor: pointer;
}

#button:hover {
    background-color: #555555;
    color: white;
}

#button_active{
	position: relative;
	top: 3px;
}